<p id="notice"><%= notice %></p>

<h1>THE LIST</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>More</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td width="10%"><%= image_tag idea.picture_url, width: '100%' if idea.picture.present? %></td>
        <td><%= link_to 'More', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Delete', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New', new_idea_path, class: 'new-link' %>
